

.box2{
	padding: 50px;
	width: 100px;
	height: 100px;
	background-color: black;
	float: left;

}

/* 	margin: 10px;
	min-height: 80px;
	background-color: red;
	font-size: 30px;
	color: white;
	text-align: center; */


